* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h1, h3 {
  text-align: center;
  font-family: 'Newsreader', serif;
}

body {
  width: 100%;
  background-color: #9BA17B;
  background-image: linear-gradient(300deg, #9BA17B 0%, #ededed, 128, 118 74%);

}

.App {
  display: flex;
  justify-content: space-between;
}

.nav {
  display:flex;
  flex-direction: column;
  width:25%;
  border: rgb(211, 211, 211) 2px solid;
  border-radius: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  border: rgb(194, 239, 224) 2px solid;
  border-radius: 5px;
  width: 70%;
}

.link {
  text-decoration: none;
  border: solid black 1px;
  border-radius: 10px;
  padding: 14px 25px;
  text-align: center;
  background-color: ededed;
  color: black;
  margin: 5px;
}

.link:visited{
  text-decoration: none;
}

.button {
  width: 100px;
  text-align: center;
  margin: auto;
}

#newItemField {
  width: 100px;
  margin: auto;
}