* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: #222725;
}

h1, h3 {
  text-align: center;
  color: #121113;

}

h1 {
  font-size: 60px;
  color: #F7F7F2;
}

body {
  width: 100%;
  background-color: #a5a58d;
}

.App {
  display: flex;
  justify-content: space-around;
}

.nav {
  display:flex;
  flex-direction: column;
  width:25%;
  border: #6b705c 2px solid;
  border-radius: 10px;
  border-color: #F7F7F2;
  padding: 10px;
  box-shadow:5px 5px 10px #222725;
}

.list {
  display: flex;
  flex-direction: column;
  border: #6b705c 2px solid;
  border-radius: 10px;
  border-color: #F7F7F2;
  width: 70%;
  padding: 10px;
  box-shadow:5px 5px 10px #222725;
}

.link {
  text-decoration: none;
  border: solid black 1px;
  border-radius: 10px;
  padding: 14px 25px;
  text-align: center;
  background-color: #fefae0;
  color: black;
  margin: 5px;
  box-shadow:5px 5px 10px #222725;
}

.link:active{
  background-color: #6b705c;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

.link:hover{
  background-color: #a5a58d;
}

.link:visited{
  text-decoration: none;
}

.addItemContainer{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.addItemBtn {
  background-color: #b7b7a4;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow:5px 5px 10px #222725;
  border-radius: 10px;
}

.addItemBtn:hover{
  background-color: #a4a994;

}
.addItemBtn:active{
  background-color: #6b705c;
  box-shadow: inset 0px 0px 5px #c1c1c1;

}

#addItemText {
  margin: 4px 2px;
  padding: 10px;
  border-radius: 10px;
  box-shadow:5px 5px 10px #222725;
}


.items{
  font-size: 18px;
}

.ItemComponent {
  border: solid black 1px;
  background-color: #fefae0;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  margin: 10px;
  box-shadow:5px 5px 10px #222725;
}

.toBuyListBtn, .purchasedListBtn, .eatenListBtn{
  background-color: #b7b7a4;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.toBuyListBtn:hover, .purchasedListBtn:hover, .eatenListBtn:hover{
  background-color: #6b705c;
}

/* .toBuyListBtn, .purchasedListBtn:active{
  background-color: #6b705c;
  box-shadow: inset 0px 0px 5px #c1c1c1;
} */

.toBuyListBtnContainer, .purchasedListBtnContainer, .eatenListBtnContainer{
  float: right;
}

button:active {
  background-color: #6b705c;
  box-shadow: inset 5px 5px 5px #c1c1c1;
}

#likedBtn:focus{
  background-color: green;
}

#dislikedBtn:focus{
  background-color: red;
}