* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h1, h3 {
  text-align: center;
  font-family: 'Lora', serif;
}

h1 {
  font-size: 60px;
}

body {
  width: 100%;
  background-color: #a5a58d;
}

.App {
  display: flex;
  justify-content: space-around;
}

.nav {
  display:flex;
  flex-direction: column;
  width:25%;
  border: #6b705c 2px solid;
  border-radius: 5px;
  padding: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  border: #6b705c 2px solid;
  border-radius: 5px;
  width: 70%;
  padding: 10px;
}

.link {
  text-decoration: none;
  border: solid black 1px;
  border-radius: 10px;
  padding: 14px 25px;
  text-align: center;
  background-color: #fefae0;
  color: black;
  margin: 5px;
}

.link:visited{
  text-decoration: none;
}

.addItemContainer{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.addItemBtn {
  background-color: #b7b7a4;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.addItemBtn:hover{
  background-color: #6b705c;
}

.addItemText {
  margin: 4px 2px;
  padding: 10px;
}


.items{
  font-size: 18px;
}

.ItemComponent {
  border: solid black 1px;
  background-color: #fefae0;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  margin: 10px;
}

.toBuyListBtn{
  background-color: #b7b7a4;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.toBuyListBtn:hover{
  background-color: #6b705c;
}

.toBuyListBtnContainer{
  float: right;
}